{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block head_title %}{{ title }}{% endblock head_title %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline">{{ title }}</h3>
            {% if user_is_authenticated %}
                <div class="pull-right">
                <a href="{{ create_url }}" class="btn btn-primary">Add</a>
                    </div>
                <div class="clearfix"></div>
            {% endif %}
        </div>
        <div class="panel-body">
            {% render_table table %}
        </div>
    </div>



{% endblock %}