{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block page_title %}Create {{ title }}{% endblock page_title %}
{% block head_title %}Create {{ title }}{% endblock head_title %}
{% block content %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}
        <div class="btn-group">
            <a href="{% url form.list_viewname %}" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit">
        </div>
    </form>
{% endblock %}