{% extends "base.html" %}
{% block page_title %}Delete {{ object.ingredient.name }} stock{% endblock page_title %}
{% block head_title %}Delete {{ object.ingredient.name }} stock{% endblock head_title %}
{% block content %}


        <p>Are you sure you wish to delete your stock of {{ object.ingredient.name }}?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="Yes" class="btn btn-danger">Yes</button>
            <a href="{{ object.get_list_url }}" class="btn btn-success">No</a>
        </form>
{% endblock %}