#!/bin/sh

DJANGODIR={{ application_path }}/{{ application_name }}

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate
. {{ virtualenv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery worker -A {{ application_name }} -E -l info --concurrency={{ celery_num_workers }}
