[program:{{ celery_application_name }}]
command={{ celery_scripts_dir }}/{{ celery_application_name }}_start
autostart=true
autorestart=true
user={{ celery_user }}
stdout_logfile={{ celery_log_file }}
redirect_stderr = true