{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load sniplates %}
{% block page_title %}Recipes{% endblock page_title %}
{% block head_title %}Recipes{% endblock head_title %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
            {% widget "bootstrap:search_form" %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline">Recipes</h3>
            {% if user_is_authenticated %}
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Create Recipe <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "recipe-create-basic" %}">Basic Recipe</a></li>
                            <li><a href="{% url "recipe-create-extract" %}">Extract Recipe</a></li>
                            <li><a href="{% url "recipe-create-all_grain" %}">All Grain Recipe</a></li>
                        </ul>
                    </div>
                </div>
            <div class="clearfix"></div>
            {% endif %}
        </div>
        <div class="panel-body">
            {% render_table table %}
        </div>
    </div>



{% endblock %}