{% extends "base.html" %}
{% load permissionsx_tags %}
{% load number_format %}

{% block page_title %}<span id="name">{{ object.name }}</span>
    <div class="pull-right">
        <span class="label label-primary" style="background-color: {{ object.html_colour }}" id="style">{{ object.style }}</span>
    </div>
{% endblock page_title %}
{% block head_title %}{{ object.name }}{% endblock head_title %}

{% block extra_js %}
<script>
    $(function () {
                $("[data-toggle='popover']").popover().click(function (e) {
                    e.preventDefault();
                });
            }
    );
</script>
{% endblock %}
{% block content %}
    {% permissions 'recipes.permissions.RecipeOwnerPermissions' slug=object.slug as user_owns_recipe %}
    <div class="row">
    <div class="col-lg-2">
        <div class="bs-sidebar" data-spy="affix" data-offset-top="60">
            <ul class="nav nav-pills nav-stacked">
                <li class="bg-default"><a href="{% if request.session.list_page %}{{ request.session.list_page }}{% else %}{% url "recipe-list" %}{% endif %}" id="back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
                {% if user_owns_recipe %}
                    <li><a href="{% url "recipe-update" object.slug %}" class="bg-primary" id="update"><span class="glyphicon glyphicon-edit"></span> Update</a></li>
                    <li><a href="{% url "recipe-delete" object.slug %}" class="bg-danger" id="delete"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
                {% endif %}
                {% if user_is_authenticated %}
                    <li><a href="{% url "brew-create" %}?recipe={{ object.pk }}" class="bg-success" id="brew_it"><span class="glyphicon glyphicon-ok-circle"></span> Brew It!</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-lg-10">
    {% include "recipe/recipe_detail_content.html" %}
    </div>
    </div>
{% endblock %}

