{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load sniplates %}
{% block page_title %}Recipe Search{% endblock page_title %}
{% block head_title %}Recipe Search{% endblock head_title %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-duallistbox.css" %}">
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static "js/jquery.bootstrap-duallistbox.js" %}"></script>
    <script>
        $(function(){
            $('#id_fermentables_0,#id_hops_0,#id_others_0').bootstrapDualListbox({
                'moveOnSelect': false
            });
        });
    </script>
{% endblock extra_js %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search Filter</h3>
        </div>
        <div class="panel-body">
            {% widget "bootstrap:search_form" %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline">Recipes</h3>
        </div>
        <div class="panel-body">
            {% render_table table %}
        </div>
    </div>



{% endblock %}