{% extends "base.html" %}
{% block page_title %}{{ object.name }}{% endblock page_title %}
{% block head_title %}{{ object.name }}{% endblock head_title %}
{% block content %}
    <h2>Are you sure you wish to delete this recipe?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Yes" class="btn btn-danger">Yes</button>
        <a href="{% url "recipe-detail" object.slug %}" class="btn btn-success">No</a>
    </form>
{% endblock %}