{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load sniplates %}

{% block extra_js %}
    <script>
        $(function () {
                    $("[data-toggle='popover']").popover().click(function (e) {
                        e.preventDefault();
                    });
                }
        );
    </script>
    <script src="{% static "js/jquery.formset.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            var $fermentables_form = $('form #fermentables table tbody tr');
            $fermentables_form.formset({
                prefix: '{{ recipegrain_formset.prefix }}',
                addText: 'Add',
                addCssClass: 'btn btn-success glyphicon glyphicon-plus',
                deleteText: '',
                deleteCssClass: 'btn btn-danger glyphicon glyphicon-remove'
            });

            var $boil_form = $('form #boil table tbody tr');
            $boil_form.formset({
                prefix: '{{ recipehop_formset.prefix }}',
                addText: 'Add',
                addCssClass: 'btn btn-success glyphicon glyphicon-plus',
                deleteText: '',
                deleteCssClass: 'btn btn-danger glyphicon glyphicon-remove'
            });

            var $other_form = $('form #other-additions table tbody tr');
            $other_form.formset({
                prefix: '{{ recipeother_formset.prefix }}',
                addText: 'Add',
                addCssClass: 'btn btn-success glyphicon glyphicon-plus',
                deleteText: '',
                deleteCssClass: 'btn btn-danger glyphicon glyphicon-remove'
            });


        });
    </script>
{% endblock %}

{% block head %}
    {{ form.media }}
    {{ recipegrain_formset.media }}
    {{ recipeother_formset.media }}
{% endblock head %}

{% block page_title %}Create Basic Recipe{% endblock page_title %}
{% block head_title %}Create Basic Recipe{% endblock head_title %}
{% block content %}
    <div class="row">
        <div class="col-lg-2">
            <div class="bs-sidebar" data-spy="affix" data-offset-top="60">
                <ul class="nav nav-pills nav-stacked">
                    <li class="bg-default"><a href="{% url "recipe-list" %}"><span
                            class="glyphicon glyphicon-remove"></span> Cancel</a></li>
                    <li>
                        <button type="submit" form="recipe_form" id="submit-id-submit" name="submit" value="Save"
                                class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <form method="post" action="{{ request.path }}" id="recipe_form">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                <div class="panel panel-default" id="general">
                    <div class="panel-heading">
                        <h3 class="panel-title">General</h3>
                    </div>
                    <div class="panel-body">
                        {% bootstrap_field form.public %}
                        {% bootstrap_field form.style %}
                        {% bootstrap_field form.target_volume addon_after="L" %}
                        {% bootstrap_field form.description %}
                        {% bootstrap_field form.original_gravity %}
                        {% bootstrap_field form.expected_final_gravity %}
                        {% bootstrap_field form.owner %}
                    </div>
                </div>
                <div class="panel panel-default" id="fermentables">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fermentables</h3>
                    </div>
                    <div class="panel-body">
                        {% bootstrap_formset_errors recipegrain_formset %}
                        {% widget "bootstrap:formset" formset=recipegrain_formset %}
                    </div>
                </div>
                <div class="panel panel-default" id="other-additions">
                    <div class="panel-heading">
                        <h3 class="panel-title">Other Additions</h3>
                    </div>
                    <div class="panel-body">
                        {% bootstrap_formset_errors recipeother_formset %}
                        {% widget "bootstrap:formset" formset=recipeother_formset %}
                    </div>
                </div>
                <div class="panel panel-default" id="fermentation">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fermentation</h3>
                    </div>
                    <div class="panel-body">
                        {% bootstrap_field form.yeast %}
                        {% bootstrap_field form.fermentation_temp addon_after="°C" %}
                        {% bootstrap_field form.conditioning_time %}
                        {% bootstrap_field form.conditioning_time_quantifier %}
                        {% bootstrap_field form.conditioning_temp addon_after="°C" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}