{% load number_format %}
{% load is_stocked from stock %}
<div class="panel panel-default" id="general">
        <div class="panel-heading">
            <h3 class="panel-title">General</h3>
        </div>
        <div class="panel-body">
            <p id="description">
                {{ object.description }}
            </p>

        <div class="row">
            <div class="col-md-2"><label class="control-label">Target Volume</label></div>
            <div class="col-md-1" id="target_volume">{{ object.target_volume }} L</div>
            <div class="col-md-2"><label class="control-label">Original Gravity</label></div>
            <div class="col-md-1" id="original_gravity">{{ object.original_gravity }}</div>
            <div class="col-md-2"><label class="control-label">Expected Final Gravity</label></div>
            <div class="col-md-1" id="expected_final_gravity">{{ object.expected_final_gravity }}</div>
            <div class="col-md-2"><label class="control-label">Estimated ABV</label></div>
            <div class="col-md-1" id="alcohol_by_volume">{{ object.alcohol_by_volume|floatformat:2 }}%</div>
        </div>
        {% if object.extractrecipe %}
            <div class="row">
                <div class="col-md-2"><label class="control-label">Bitterness Rating</label></div>
                <div class="col-md-1" id="bitterness_rating">{{ object.extractrecipe.get_bitterness_rating }}</div>
            </div>
        {% endif %}
        </div>
    </div>
    {% if object.extractrecipe.allgrainrecipe %}
        <div class="panel panel-default" id="mash">
            <div class="panel-heading">
                <h3 class="panel-title">Mash</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2"><label class="control-label">Mash Thickness</label></div>
                    <div class="col-md-1" id="mash_thickness">{{ object.extractrecipe.allgrainrecipe.mash_thickness }} L/kg</div>
                    <div class="col-md-2"><label class="control-label">Mash Liquor</label></div>
                    <div class="col-md-1" id="mash_liquor">{{ object.extractrecipe.allgrainrecipe.mash_liquor|floatformat }} L</div>
                    <div class="col-md-2"><label class="control-label">Sparge Liquor</label></div>
                    <div class="col-md-1" id="sparge_volume">{{ object.extractrecipe.allgrainrecipe.sparge_volume|floatformat }} L</div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label class="control-label">Time</label></div>
                    <div class="col-md-1" id="mash_time">{{ object.extractrecipe.allgrainrecipe.mash_time }} mins</div>
                    <div class="col-md-2"><label class="control-label">Temperature</label></div>
                    <div class="col-md-1" id="mash_temperature">{{ object.extractrecipe.allgrainrecipe.mash_temperature }}°C</div>
                </div>
            </div>
            {% include "recipe/recipe_tables/grain.html" %}
        </div>
    {% else %}
        <div class="panel panel-default" id="fermentables">
            <div class="panel-heading">
                <h3 class="panel-title">Fermentables</h3>
            </div>
            {% if object.extractrecipe %}
            <div class="panel-body">
                <h4>Steeping Details:</h4>
                <div class="row">
                    <div class="col-md-2"><label class="control-label">Liquor</label></div>
                    <div class="col-md-1" id="steep_liquor">{{ object.extractrecipe.steep_liquor|floatformat }} L</div>
                    <div class="col-md-2"><label class="control-label">Time</label></div>
                    <div class="col-md-1" id="steep_time">{{ object.extractrecipe.steep_time }} mins</div>
                    <div class="col-md-2"><label class="control-label">Temperature</label></div>
                    <div class="col-md-1" id="steep_temperature">{{ object.extractrecipe.steep_temperature }}°C</div>
                </div>
            </div>
            {% endif %}
            {% include "recipe/recipe_tables/grain.html" %}
        </div>
    {% endif %}
    {% if object.extractrecipe %}
    <div class="panel panel-default" id="boil">
        <div class="panel-heading">
            <h3 class="panel-title">Boil</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label class="control-label">Liquor</label></div>
                <div class="col-md-1" id="boil_liquor">{{ object.extractrecipe.boil_liquor|floatformat }} L</div>
                <div class="col-md-2"><label class="control-label">Time</label></div>
                <div class="col-md-1" id="boil_time">{{ object.extractrecipe.boil_time }} mins</div>
            </div>
        </div>
        {% include "recipe/recipe_tables/hops.html" %}
    </div>
    {% endif %}
    <div class="panel panel-default" id="other_additions">
        <div class="panel-heading">
            <h3 class="panel-title">Other Additions</h3>
        </div>
        <div class="panel-body">
            {% include "recipe/recipe_tables/others.html" %}
        </div>
    </div>
    <div class="panel panel-default" id="fermentation">
        <div class="panel-heading">
            <h3 class="panel-title">Fermentation</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"><label class="control-label">Yeast</label></div>
                <div class="col-md-3" id="yeast"><a href="#" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ object.yeast }}"
                                data-content="{{ object.yeast.description }}">{{ object.yeast }}</a> {% if user_is_authenticated %}{% is_stocked request object.yeast %}{% endif %}</div>
                <div class="col-md-2"><label class="control-label">Fermentation Temp</label></div>
                <div class="col-md-1" id="fermentation_temp">{{ object.fermentation_temp }}°C</div>
                <div class="col-md-2"><label class="control-label">Conditioning</label></div>
                <div class="col-md-2" id="conditioning_time">{{ object.conditioning_time }} {{ object.get_conditioning_time_quantifier_display }}@{{ object.conditioning_temp }}°C</div>
            </div>
        </div>
    </div>