{% load django_tables2 %}
{% load i18n %}

<nav>
<ul class="pagination">
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <li>
            <a href="{% querystring table.prefixed_page_field=page_obj.previous_page_number %}"><span aria-hidden="true">&laquo;</span></a>
        </li>
    {% else %}
        <li class="disabled">
        <span><span aria-hidden="true">&laquo;</span></span>
        </li>
    {% endif %}
    {% for page in pages %}

            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active">
                    <span class="active">{{ page }}</span>
                    </li>
                {% else %}
                    <li><a href="{% querystring table.prefixed_page_field=page %}">{{ page }}</a>
                    </li>
                {% endifequal %}
            {% else %}
                <li><span>...</span></li>
            {% endif %}

    {% endfor %}
    {% if page_obj.has_next %}
        <li>
            <a href="{% querystring table.prefixed_page_field=page_obj.next_page_number %}"><span aria-hidden="true">&raquo;</span></a>
        </li>
    {% else %}
        <li class="disabled">
        <span><span aria-hidden="true">&raquo;</span></span>
        </li>
    {% endif %}
{% else %}
    <li><span><span class="active">1</span></span></li>
{% endif %}
    <li class="cardinality"><span>{% if object_total != object_count %}{{ object_count_from }} to {{ object_count_to }} of
        {{ object_total }} {% else %}{{ object_total }} {% endif %}{% if object_total == 1 %}
        {{ table.data.verbose_name }}{% else %}{{ table.data.verbose_name_plural }}{% endif %}</span></li>
</ul>
</nav>