{% extends "base.html" %}
{% load permissionsx_tags %}
{% load humanize %}

{% block page_title %}{{ object.name }}<div class="pull-right">
        <span class="label label-primary" style="background-color: {{ object.html_colour }}">{{ object.get_type_display }}</span>
    </div>{% endblock page_title %}
{% block head_title %}{{ object.name }}{% endblock head_title %}
{% block content %}
    {% permissions 'recipes.permissions.FermentableOwnerPermissions' slug=fermentable.slug as user_owns_fermentable %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                {{ object.description }}
            </p>
            <div class="row">
                <div class="col-md-2"><label class="control-label">Lovibond Rating</label></div>
                <div class="col-md-1">{{ object.lovibond_rating|floatformat:2 }}</div>
                <div class="col-md-3"><label class="control-label">Standard Reference Method (SRM)</label></div>
                <div class="col-md-1">{{ object.get_srm|floatformat:2  }}</div>
                <div class="col-md-3"><label class="control-label">European Brewery Convention (EBC)</label></div>
                <div class="col-md-1">{{ object.get_ebc|floatformat:2  }}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="control-label">Extract Potential</label></div>
                <div class="col-md-1">{{ object.extract_potential }}%</div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="control-label">Requires Mashing?</label></div>
                <div class="col-md-1">{{ object.requires_mashing|boolean }}</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">
            {% for t in object.tags.names %}
                {% if not forloop.last %}
                    {{ t }},
                {% else %}
                    {{ t }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-heading">Similar</div>
        <div class="panel-body">
            {% for t, font_height in similar_objects %}
                <span style="margin: 0px 15px; font-size: {{ font_height }}px"><a href="{{ t.get_absolute_url }}">{{ t }}</a></span>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group">
        <a href="{% url "fermentable-list" %}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
        {% if user_owns_fermentable %}
            <a href="{% url "fermentable-update" object.slug %}" class="btn btn-primary">Update</a>
            <a href="{% url "fermentable-delete" object.slug %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Delete</a>
        {% endif %}
    </div>
{% endblock %}