{% extends "base.html" %}
{% load permissionsx_tags %}


{% block page_title %}{{ object.name }}{% endblock page_title %}
{% block head_title %}{{ object.name }}{% endblock head_title %}
{% block content %}
    {% permissions 'recipes.permissions.HopOwnerPermissions' slug=object.slug as user_owns_hop %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                {{ object.description }}
            </p>
            <div class="row">
                <div class="col-md-2"><label class="control-label">Country Of Origin</label></div>
                <div class="col-md-2">{{ object.country_of_origin }}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="control-label">Alpha Acid Range</label></div>
                <div class="col-md-2">{{ object.alpha_acid_low }}% - {{ object.alpha_acid_high }}%</div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="control-label">Intensity</label></div>
                <div class="col-md-2">{{ object.intensity }} / 10</div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">
            {% for t in object.tags.names %}
                {% if not forloop.last %}
                    {{ t }},
                {% else %}
                    {{ t }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-heading">Similar</div>
        <div class="panel-body">
            {% for t, font_height in similar_objects %}
                <span style="margin: 0px 15px; font-size: {{ font_height }}px"><a href="{{ t.get_absolute_url }}">{{ t }}</a></span>
            {% endfor %}
        </div>
    </div>


    <div class="btn-group">
        <a href="{% url "hop-list" %}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
        {% if user_owns_hop %}
            <a href="{% url "hop-update" object.slug %}" class="btn btn-primary">Update</a>
            <a href="{% url "hop-delete" object.slug %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Delete</a>
        {% endif %}
    </div>
{% endblock %}