{% extends "base.html" %}
{% block page_title %}Delete {{ object }}{% endblock page_title %}
{% block head_title %}Delete {{ object }}{% endblock head_title %}
{% block content %}

    {% if protected %}
        <p>{{ object }} cannot be deleted because it is used in some recipes:</p>
        <ul>
        {% for o in protected %}
            {% if o.public or o.owner == user %}
                <li><a href="{{ o.get_absolute_url }}">{{ o.name }}</a></li>
            {% else %}
                <li>Private recipe</li>
            {% endif %}
        {% endfor %}
        </ul>
        <a href="{{ object.get_absolute_url }}" class="btn btn-default">Back</a>
    {% else %}
        <p>Are you sure you wish to delete {{ object }}?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="Yes" class="btn btn-danger">Yes</button>
            <a href="{{ object.get_absolute_url }}" class="btn btn-success">No</a>
        </form>
    {% endif %}
{% endblock %}