{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-duallistbox.css" %}">
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static "js/jquery.bootstrap-duallistbox.js" %}"></script>
    <script>
        $(function(){
            $('.select-multiple').bootstrapDualListbox({
                'moveOnSelect': false
            });
        });
    </script>
{% endblock extra_js %}
{% block page_title %}Update {{ object.name }}{% endblock page_title %}
{% block head_title %}Update {{ object.name }}{% endblock head_title %}
{% block content %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}
        <div class="btn-group">
            <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit">
        </div>
    </form>
{% endblock %}