{% extends "base.html" %}
{% load permissionsx_tags %}

{% block page_title %}{{ object.name }}{% endblock page_title %}
{% block head_title %}{{ object.name }}{% endblock head_title %}
{% block content %}
    {% permissions 'recipes.permissions.OtherOwnerPermissions' slug=other.slug as user_owns_other %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                {{ object.description }}
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">
            {% for t in object.tags.names %}
                {% if not forloop.last %}
                    {{ t }},
                {% else %}
                    {{ t }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-heading">Similar</div>
        <div class="panel-body">
            {% for t, font_height in similar_objects %}
                <span style="margin: 0px 15px; font-size: {{ font_height }}px"><a href="{{ t.get_absolute_url }}">{{ t }}</a></span>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group">
        <a href="{% url "other-list" %}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
        {% if user_owns_other %}
            <a href="{% url "other-update" object.slug %}" class="btn btn-primary">Update</a>
            <a href="{% url "other-delete" object.slug %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Delete</a>
        {% endif %}
    </div>
{% endblock %}