{% load django_tables2 %}
{% load i18n %}
{% load paginate from pagination %}
{#{% load range_helper %}#}

{% spaceless %}
    {% if table.page %}
        <div class="table-container">
    {% endif %}
{% block table %}
    <table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
        {% block table.thead %}
            <thead>
            <tr>
                {% for column in table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a
                                href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                        </th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
        {% endblock table.thead %}
        {% block table.tbody %}
            <tbody>
            {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                {% block table.tbody.row %}
                    <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }}">
                        {# avoid cycle for Django 1.2-1.6 compatibility #}
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>
                                {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}
                                    {{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endblock table.tbody.row %}
            {% empty %}
                {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                        <tr>
                            <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                        </tr>
                    {% endblock table.tbody.empty_text %}
                {% endif %}
            {% endfor %}
            </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
            <tfoot></tfoot>
        {% endblock table.tfoot %}
    </table>
{% endblock table %}

{% if table.page %}
    {% block pagination %}
        {% paginate paginator=table.paginator page_obj=table.page %}
    {% endblock pagination %}
{% endif %}
</div>
{% endspaceless %}
