{% extends "account/account_settings_base.html" %}

{% block page_title %}Account Overview{% endblock page_title %}
{% block head_title %}Account Overview{% endblock head_title %}
{% block panel_title %}Account Overview{% endblock panel_title %}
{% block panel_contents %}
    <div class="row">
        <div class="col-md-2"><label class="control-label">Joined:</label></div>
        <div class="col-md-3">{{ user.date_joined }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><label class="control-label">Last Login:</label></div>
        <div class="col-md-3">{{ user.last_login }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><label class="control-label">Recipes Created:</label></div>
        <div class="col-md-1">{{ user.recipe_set.count }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><label class="control-label">Brews:</label></div>
        <div class="col-md-1">{{ user.brew_set.count }}</div>
    </div>


{% endblock panel_contents %}