{% extends "base.html" %}
{% load active_page %}

{% block extra_css %}
    <style>
        .nav-sidebar {
            width: 100%;
            padding: 8px 0;
            border-right: 1px solid #ddd;
        }

        .nav-sidebar a {
            color: #333;
            -webkit-transition: all 0.08s linear;
            -moz-transition: all 0.08s linear;
            -o-transition: all 0.08s linear;
            transition: all 0.08s linear;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        .nav-sidebar .active a {
            cursor: default;
            background-color: #428bca;
            color: #fff;
            text-shadow: 1px 1px 1px #666;
        }

        .nav-sidebar .active a:hover {
            background-color: #428bca;
        }

        .nav-sidebar .text-overflow a,
        .nav-sidebar .text-overflow .media-body {
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    </style>
{% endblock extra_css %}

{% block page_title %}Account Settings{% endblock page_title%}
{% block head_title %}Account Settings{% endblock head_title %}

{% block content %}

    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="{% active_page request "account_settings" %}"><a href="{% url "account_settings" %}">Account Overview</a></li>
                    <li class="{% active_page request "account_change_password" %}"><a href="{% url "account_change_password" %}">Change Password</a></li>
                    <li class="{% active_page request "account_email" %}"><a href="{% url "account_email" %}">Change E-mail</a></li>
                    <li class="{% active_page request "account_recipe_profile" %}"><a href="{% url "account_recipe_profile" %}">Recipe Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-10">
            {% block page_content %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block panel_title %}{% endblock panel_title %}</h3>
                </div>
                <div class="panel-body">
                    {% block panel_contents %}{% endblock panel_contents %}
                </div>
            </div>
            {% endblock page_content %}
        </div>
    </div>

{% endblock %}