{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block page_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block head_title %}Confirm E-mail Address{% endblock head_title %}


{% block content %}
{% user_display email_address.user as user_display %}
        
<p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

{% endblock %}
