{% extends "account/account_settings_base.html" %}

{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block page_title %}{% trans "E-mail Addresses" %}{% endblock %}
{% block head_title %}E-Mail Addresses{% endblock head_title %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Registered E-mail Addresses</h3></div>
    <div class="panel-body">
    {% if user.emailaddress_set.all %}

            <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

            <form action="{% url 'account_email' %}" class="email_list" method="post">
                {% csrf_token %}

                {% for emailaddress in user.emailaddress_set.all %}
                    <div class="form-group">
                        <label for="email_radio_{{ forloop.counter }}" class="{% if emailaddress.primary %}{% endif %}">

                            <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                   {% if emailaddress.primary %}checked="checked"{% endif %}
                                   value="{{ emailaddress.email }}"/>

                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                                <span class="verified">({% trans "Verified" %})</span>
                            {% else %}
                                <span class="unverified">({% trans "Unverified" %})</span>
                            {% endif %}
                            {% if emailaddress.primary %}<span class="primary">({% trans "Primary" %})</span>{% endif %}
                        </label>
                    </div>
                {% endfor %}

                <div class="btn-group">
                    <button class="btn btn-success" type="submit"
                            name="action_primary"><span class="glyphicon glyphicon-ok"></span> {% trans 'Make Primary' %}</button>
                    <button class="btn btn-default" type="submit"
                            name="action_send">{% trans 'Re-send Verification' %}</button>
                    <button class="btn btn-danger" type="submit" name="action_remove"><span class="glyphicon glyphicon-remove"></span> {% trans 'Remove' %}</button>
                </div>
            </form>

    {% else %}
        <p>
            <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
        </p>

    {% endif %}
    </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{% trans "Add E-mail Address" %}</h3></div>
        <div class="panel-body">

            <form method="post" action="{% url 'account_email' %}" class="add_email">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button name="action_add" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add E-mail" %}</button>
            </form>
        </div>
    </div>

{% endblock page_content %}
