{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extra_css %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}Login{% endblock head_title %}
{% block content %}
    <form class="form-account" role="form" method="POST" action="{% url 'account_login' %}">
        <h2 class="form-account-heading">{% trans "Please Sign In" %}</h2>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <input id="id_login" class="form-control" maxlength="30" name="login" placeholder="Username"
               type="text"/>{{ form.login.errors }}
        <input id="id_password" class="form-control" name="password" placeholder="Password"
               type="password"/>{{ form.password.errors }}

        <div class="remember-forgot-section">
            <label for="id_remember"><input id="id_remember" name="remember" type="checkbox"/> Remember Me</label>

            <p><a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
        <p class="footnote">
            Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a>
        </p>
    </form>

{% endblock %}