{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extra_css %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}Logout{% endblock head_title %}

{% block content %}
<form class="form-account" method="post" action="{% url 'account_logout' %}">
        <h2 class="form-account-heading">{% trans "Sign Out" %}</h2>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Sign Out" %}</button>

        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
    </form>
{% endblock %}
