{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block extra_css %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}Password Reset{% endblock head_title %}

{% block content %}
    <form class="form-account" role="form" method="POST" action="{% url 'account_reset_password' %}">
        <h2 class="form-account-heading">{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans "Reset My Password" %}"/>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </form>
    

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
