{% extends "account/base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load bootstrap3 %}


{% block extra_css %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="form-account" role="form" method="POST" action=".">
            <h2 class="form-account-heading">{% trans "Change Password" %}</h2>
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-lg btn-primary btn-block" name="action" value="{% trans "Change Password" %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password has been changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
