{% extends "account/account_settings_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}Change Password{% endblock head_title %}

{% block page_title %}Change Password{% endblock %}
{% block panel_title %}Change Password{% endblock panel_title %}

{% block panel_contents %}
    <form method="POST" action="{% url 'account_change_password' %}">
        {% bootstrap_form form %}
        <div class="btn-group">
            <button type="submit" name="action" class="btn btn-primary">Change Password</button>
        </div>

    </form>
{% endblock panel_contents %}
