{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap3 %}

{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}Sign Up{% endblock head_title %}

{% block content %}
    <form class="form-account" id="signup_form" method="post" action="{% url 'account_signup' %}">
<h2 class="form-account-heading">{% trans "Sign Up" %}</h2>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}


