/* From http://getbootstrap.com/examples/signin/ */
body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-account {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-account .form-account-heading,
.form-account .checkbox {
  margin-bottom: 10px;
}
.form-account .checkbox {
  font-weight: normal;
}
.form-account .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-account .form-control:focus {
  z-index: 2;
}
.form-account input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-account input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footnote {
    margin-top: 10px;
    margin-bottom: 10px;
}
