.main-body {
    margin-bottom: 1em;
}

div.dynamic-form {
    margin-bottom: 10px;
}

table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}

.rounded_square {
    border: 1px solid #DDD;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    min-height: 100px;
    margin: 15px;
    background-color: #F5F5F5;
    white-space: normal;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    vertical-align: baseline;
}

.rounded_square small, .rounded_square a {
    color: inherit;
}

.bs-sidebar {
    width: 100%;
    position: static;
}

.bs-sidebar button {
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
    text-align: left;
}



@media (min-width: 1200px) {
    .bs-sidebar {
        width: 165px;
    }

    .bs-sidebar.affix {
        position: fixed;
    }
}

.bg-default {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}

.tab-holder {
    margin: 25px 0px;
}

.back-to-top {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    background-color: transparent;
}

.back-to-top i {
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}

@media (min-width: 1200px) {
    .back-to-top {
        visibility: hidden;
    }
}

.outside_month {
    color: gray;
}

.search-combo {
    margin-top: 1em;
}

form table.table-formset tbody td:last-child div.form-group {
    display: none;
}