{% extends "base.html" %}

{% block title %}Access Forbidden{% endblock %}

{% block page_title %}Access Forbidden{% endblock page_title %}

{% block content %}
<p>You are not authorised to view this page. {% if not user.is_authenticated %}Please try <a href="{% url "user-login" %}?next={{ request.path }}">logging in</a> and try again.{% endif %}</p>
{% endblock content %}