{% extends "base.html" %}
{% block head_title %}About{% endblock head_title %}
{% block page_title %}About{% endblock page_title %}
{% block content %}
    <p>A basic homebrew journal for recording recipes and brews.</p>
    <div id="usage">
        <h2>Usage</h2>

        <p>Anyone can see a recipe as long as it is marked public. You can easily find public recipes in the <strong>Recipes</strong> menu
        or by searching for recipes that contain specific ingredients.</p>
        <p>To create a brew and record notes against it you must be logged in. Once you are logged in you can create a brew based on a recipe, which you can then
        customise, taking into account any changes you may have had on your brew day. You can also record any specific gravity or temperature
        readings that you make along the way.</p>
    </div>
    <div id="contact">
        <h2>Contact</h2>

        <p><a href="mailto:moustacha.homebrew.journal@gmail.com">moustacha.homebrew.journal@gmail.com</a></p>
    </div>
    <div id="source">
        <h2>How It Works</h2>

        <p>View the <a href="https://bitbucket.org/Moustacha/homebrew/">source</a>.</p>
    </div>
    <div id="licensing">
        <h2>Licensing Information</h2>
        <p>I would like to acknowledge the following usages of <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons (Attribution 3.0 Unported)</a> items:
            <ul>
                <li><a href="https://www.iconfinder.com/icons/299039/beer_icon#size=256">Beer icon</a> by <a href="https://www.iconfinder.com/paomedia">Paomedia</a></li>
                <li><a href="https://www.iconfinder.com/icons/285636/book_icon#size=256">Book icon</a> by <a href="https://www.iconfinder.com/paomedia">Paomedia</a>. Modified with the above Beer icon.</li>
            </ul>
        </p>
    </div>
{% endblock %}