{% load staticfiles %}
{% load bootstrap3 %}
{% load active_page %}
{% url "user-logout" as logout_url %}
{% load sniplates %}
{% load_widgets bootstrap="widgets/bootstrap.html" %}

{####### Global Permissions #######}
{% load permissionsx_tags %}
{% permissions 'homebrew.permissions.UserIsAuthenticatedPermissions' as user_is_authenticated %}
{####### End Global Permissions #######}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
    <title>{% block head_title %}Home{% endblock head_title %} - Homebrew Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript%}
    <script type="text/javascript" src="{% static "js/homebrew.js" %}"></script>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/homebrew.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to homebrew.css -->
    {% block extra_css %}{% endblock extra_css %}

    {% block extra_js %}{% endblock extra_js %}
    {% block head %}{% endblock head %}
  </head>

  <body>
    <div id="top"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">Homebrew Journal</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if user_is_authenticated %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brews <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li class="{% active_page request "brew-list" %}"><a href="{% url "brew-list" %}?clear=true">Search</a></li>
                <li class="{% active_page request "brew-year-archive" %}"><a href="{% url "brew-archive" %}">Archive</a></li>
                </ul>
                </li>
            {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recipes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{% active_page request "recipe-list" %}"><a href="{% url "recipe-list" %}?clear=true">Recipes</a></li>
                    <li class="{% active_page request "recipe-search" %}"><a href="{% url "recipe-search" %}?clear=true">Ingredient Search</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ingredients <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{% active_page request "fermentable-list" %}"><a href="{% url "fermentable-list" %}?clear=true">Fermentables</a></li>
                    <li class="{% active_page request "hop-list" %}"><a href="{% url "hop-list" %}?clear=true">Hops</a></li>
                    <li class="{% active_page request "other-list" %}"><a href="{% url "other-list" %}?clear=true">Others</a></li>
                    <li class="{% active_page request "yeast-list" %}"><a href="{% url "yeast-list" %}?clear=true">Yeasts</a></li>
                </ul>
            </li>
            {% if user_is_authenticated %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stock <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li class="{% active_page request "fermentablestock-list" %}"><a href="{% url "fermentablestock-list" %}">Fermentable Stock</a></li>
                <li class="{% active_page request "hopstock-list" %}"><a href="{% url "hopstock-list" %}">Hop Stock</a></li>
                <li class="{% active_page request "otherstock-list" %}"><a href="{% url "otherstock-list" %}">Other Stock</a></li>
                <li class="{% active_page request "yeaststock-list" %}"><a href="{% url "yeaststock-list" %}">Yeast Stock</a></li>
                </ul>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="{% url "admin:index" %}">Admin</a></li>
            {% endif %}
            <li><a href="{% url "about" %}">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{% active_page request "account_settings" %}"><a href="{% url "account_settings" %}">Settings</a></li>
                        <li><a href="{% url "account_logout" %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url "account_login" %}{% if request.path != logout_url %}?next={{ request.path }}{% endif %}">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container main-body">
      {% bootstrap_messages messages %}

      <h1>{% block page_title %}{% endblock page_title %}</h1>

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->
    <a href="#top" class="back-to-top"><i class="glyphicon glyphicon-triangle-top"></i></a>

  </body>
</html>
