<div class="markdownx row">
    <div class="col-md-6">
        {{ markdownx_editor }}
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Live Preview</h4></div>
            <div class="panel-body">
                <div class="markdownx-preview"></div>
            </div>
        </div>
    </div>
</div>