{% load staticfiles %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <img src="{% static "img/homebrew_journal.png" %}" class="img-responsive center-block"/>
        </div>
        <div class="col-md-8 column">
            <div class="jumbotron">
                <h1>
                    Welcome Brewers!
                </h1>

                <p>
                    This website aims to be your go-to journal for creating recipes and recording your brewing
                    information,
                </p>

                <p>
                    <a class="btn btn-primary btn-large" href="{% url "recipe-list" %}">View the recipes</a>
                    <a class="btn btn-primary btn-large" href="{% url "account_signup" %}">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>

<p>This is still a work in progress, so if you have any
    feedback please contact me at <a href="mailto:moustacha.homebrew.journal@gmail.com">moustacha.homebrew.journal@gmail.com</a>.
    If you would like to view the source code of the application or contribute, you can do so by visiting the
    <a href="https://bitbucket.org/Moustacha/homebrew/">repository</a> hosted on Bitbucket</p>
