<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline">Your Latest Brews</h3>
            <div class="pull-right">
                <a href="{% url "brew-create" %}" class="btn btn-primary">Create Brew</a>
                <a href="{% url "brew-list" %}?clear=true" class="btn btn-primary">View Brews</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                {% for brew in latest_brews %}
                    <a href="{{ brew.get_absolute_url }}"><div class="col-md-2 rounded_square" style="background: {{ brew.recipe.html_colour }}">
                        <h3>{{ brew.recipe.name }}<br>
                        <small>Brewed: {{ brew.brew_date }}</small></h3>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" style="display: inline">Latest Recipes</h2>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Create Recipe <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "recipe-create-basic" %}">Basic Recipe</a></li>
                        <li><a href="{% url "recipe-create-extract" %}">Extract Recipe</a></li>
                        <li><a href="{% url "recipe-create-all_grain" %}">All Grain Recipe</a></li>
                    </ul>
                </div>
                <a href="{% url "recipe-list" %}?clear=true" class="btn btn-primary">View Recipes</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                {% for recipe in latest_recipes %}
                    <a href="{{ recipe.get_absolute_url }}"><div class="col-md-2 rounded_square" style="background: {{ recipe.html_colour }}">
                        <h3>{{ recipe.name }}<br>
                        <small>Created: {{ recipe.created_date }}</small></h3>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>