<div class="panel panel-default" id="{{ div.css_id }}">
    <div class="panel-heading">
        <h3 class="panel-title">{{ div.name }}</h3>
    </div>
    <div class="panel-body" >
            {{ fields|safe }}
    </div>
</div>