{% extends "base.html" %}
{% load l10n %}
{% load tz %}

{% block page_title %}Delete Reading{% endblock page_title %}
{% block head_title %}Delete Reading{% endblock head_title %}

{% block content %}
    <h2>Are you sure you wish to delete this reading?</h2>
    <p>{{ object.get_formatted_value }} @ {{ object.time|localtime|localize }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Yes" class="btn btn-danger">Yes</button>
        <a href="{{ object.get_absolute_url }}" class="btn btn-success">No</a>
    </form>
{% endblock %}