{% extends "base.html" %}
{% load bootstrap3 %}
{% block page_title %}Update Reading{% endblock page_title %}
{% block head_title %}Update Reading{% endblock head_title %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block content %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% bootstrap_field form.time %}
        {% bootstrap_field form.value %}
        {% bootstrap_field form.batch %}
        <div class="btn-group">
            <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit">
        </div>
    </form>
{% endblock %}