{% load bootstrap3 %}

{% block search_form %}
    <form method="get">
        {% for field in filter.form %}
            {% bootstrap_field field bound_css_class=" " show_help=False %}
        {% endfor %}
        <input type="submit" name="submit" value="Search" class="btn btn-primary">
        <a href="{{ request.path }}?clear" class="btn btn-default">Reset</a>
    </form>
{% endblock search_form %}

{% block formset %}
    {{ formset.management_form }}
    <table class="table table-striped table-condensed table-formset">
        <thead>

        {% for field in formset.forms.0.visible_fields %}
            <td>
                {% bootstrap_label field.label %}
            </td>
        {% endfor %}

        </thead>
        <tbody>
        {% for form in formset.forms %}
            <tr>
                {% for field in form.hidden_fields %}
                    {% bootstrap_field field show_label=False %}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <td>
                        {% bootstrap_field field show_label=False %}
                    </td>
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>


    </table>

{% endblock %}