{% extends "base.html" %}
{% block page_title %}Delete Note{% endblock page_title %}
{% block head_title %}Delete Note{% endblock head_title %}
{% block content %}
    <h2>Are you sure you wish to delete this note?</h2>
    <p>{{ brewnote }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Yes" class="btn btn-danger">Yes</button>
        <a href="{% url "brew-detail" brewnote.brew.slug %}" class="btn btn-success">No</a>
    </form>
{% endblock %}