{% extends "base.html" %}
{% block page_title %}Delete Brew {{ brew.recipe.name }}{% endblock page_title %}
{% block head_title %}Delete Brew {{ brew.recipe.name }}{% endblock head_title %}
{% block content %}
    <h2>Are you sure you wish to delete this Brew?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Yes" class="btn btn-danger">Yes</button>
        <a href="{% url "brew-detail" brew.slug %}" class="btn btn-success">No</a>
    </form>
{% endblock %}