{% extends "base.html" %}
{% block page_title %}Brews for {{ year|date:"Y" }}{% endblock page_title %}
{% block head_title %}Brews for {{ year|date:"Y" }}{% endblock head_title %}
{% block content %}
    <div class="panel panel-default">

        <div class="panel-body">
            <ul class="nav nav-pills nav-justified">
                {% if previous_year %}
                    <li role="presentation"><a
                            href="{% url "brew-archive-year" previous_year.year %}"><i
                            class="glyphicon glyphicon-arrow-left"></i> {{ previous_year|date:"Y" }}</a></li>
                {% endif %}
                {% if next_year %}
                    <li role="presentation"><a
                            href="{% url "brew-archive-year" next_year.year %}">{{ next_year|date:"Y" }}
                        <i class="glyphicon glyphicon-arrow-right"></i></a></li>
                {% endif %}
                </p>
            </ul>

            <div class="list-group">
                {% for month in date_list %}
                    <a class="list-group-item" href="{% url  "brew-archive-month" month.year month.month%}">{{ month|date:"F" }}</a>
                {% endfor %}
            </div>
        </div>

{% endblock content %}