{% extends "base.html" %}
{% load bootstrap3 %}
{% block head_title %}Create Note{% endblock head_title %}
{% block head %}
    {{ form.media }}
{% endblock head %}

{% block page_title %}Create Note{% endblock page_title %}
{% block content %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}
        <div class="btn-group">
            <a href="{% url "brew-detail" request.object.slug %}#tab_notes" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit">
        </div>
    </form>
{% endblock %}