{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block page_title %}Create Brew{% endblock page_title %}
{% block head_title %}Create Brew{% endblock head_title %}

{% block extra_js %}
    <script type="text/javascript">

        $(function () {
            // Set-up the change listener
            $('#id_style').on('change', function () {
                get_recipes_for_style('{% url "recipes-for-style" %}', $(this).val());
            });
            // Populate the recipes with the default values, only if a recipe isn't already selected
            if (!$('#id_recipe').val()) {
                $('#id_style').trigger('change');
            }
        });

    </script>
{% endblock extra_js %}
{% block head %}
    {{ form.media }}
{% endblock head %}
{% block content %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% bootstrap_field form.style %}
        {% bootstrap_field form.recipe %}
        {% bootstrap_field form.brew_date %}
        {% bootstrap_field form.owner %}
        <div class="btn-group">
            <a href="{% url "brew-list" %}" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit">
        </div>
    </form>
{% endblock %}