{% load l10n %}
{% load tz %}
{% load util %}

<div class="row">
    <div class="col-lg-2">
        <div class="bs-sidebar" data-spy="affix" data-offset-top="60">
            <ul class="nav nav-pills nav-stacked">
                <li class="bg-default"><a href="{% url "brew-list" %}" id="back"><span
                        class="glyphicon glyphicon-chevron-left"></span> Back</a></li></ul>
        </div>
    </div>

    <div class="col-lg-10">
        {% for n_dict in notes %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline">{{ n_dict.name }}
                {% if user_owns_brew %}
                        <div class="pull-right">
                            <a href="{% url "brew-note-create" brew.slug n_dict.code %}" class="btn btn-success" title="Add Note"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Note</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for note in n_dict.note_set %}
                        <tr>
                            <td class="shrink"><strong>{{ note.created_date|localize }}</strong></td>
                            <td class="expand"><p>{{ note.note|markdownify  }}</p></td>
                            <td class="shrink"><a href="{{ note.get_update_url }}" class="btn btn-primary" title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td class="shrink"><a href="{{ note.get_delete_url }}" class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        </div>
</div>