{% load l10n %}

<div class="row">
    <div class="col-lg-2">
        <div class="bs-sidebar" data-spy="affix" data-offset-top="60">
            <ul class="nav nav-pills nav-stacked">
                <li class="bg-default"><a href="{% url "brew-list" %}" id="back"><span
                        class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
                {% if user_owns_brew %}
                    <li><a href="{% url "brew-customise" slug=brew.slug %}" class="bg-primary" id="customise"><span
                            class="glyphicon glyphicon-edit"></span> Customise Recipe</a></li>
                    <li><a href="{% url "brew-delete" brew.slug %}" class="bg-danger" id="delete"><span
                            class="glyphicon glyphicon-remove"></span> Delete</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
    <div class="col-lg-10">
        <div class="panel panel-default" id="brew_details">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline">Brew Details
                    {% if user_owns_brew %}
                        <div class="pull-right">
                            <a href="{% url "brew-update" brew.slug %}" class="btn btn-primary" id="update">Update</a>
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3"><label class="control-label">Date of brewing:</label></div>
                    <div class="col-md-2">{{ brew.brew_date|localize }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label class="control-label">Date of bottling/kegging:</label></div>
                    <div class="col-md-2">{% if brew.bottle_date %}{{ brew.bottle_date|localize }}{% else %}Still brewing{% endif %}</div>
                </div>
                {% if brew.bottle_date %}
                <div class="row">
                    <div class="col-md-3"><label class="control-label">Estimated ready date:</label></div>
                    <div class="col-md-2">{{ brew.get_estimated_ready_date|localize }}</div>
                </div>
                {% endif %}
                {%  if brew.gravityreading_set.count >= 2 %}
                <div class="row">
                    <div class="col-md-3"><label class="control-label">Estimated Alcohol By Volume:</label></div>
                    <div class="col-md-2">{{ brew.alcohol_by_volume|floatformat:2 }}%</div>
                </div>
                {% endif %}
            </div>
        </div>

        {%  if brew.temperaturereading_set.count > 0 %}
        <div class="panel panel-default" id="priming">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline">Priming</h3>
            </div>
            <div class="panel-body">
                <p>As some CO&#8322; dissolves into the solution as part of the brewing process the following values have been
                    based on the maximum temperature the beer has reached while fermenting. Higher temperatures causes the CO&#8322;
                    to precipitate from the solution, thus reducing the amount of CO&#8322; found in the beer.</p>
                <div class="row">
                    <div class="col-md-3"><a href="#" tabindex="0" data-toggle="popover" data-trigger="focus" title="Sucrose"
                           data-content="Generally comes from sugarcane, but can also be produced from sugar beet. Might be called Table Sugar.">
                        <strong>Sucrose:</strong></a></div>
                    <div class="col-md-2">{{ brew.priming_sucrose|floatformat:1 }}g</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><a href="#" tabindex="0" data-toggle="popover" data-trigger="focus" title="Dextrose"
                           data-content="Also known as glucose. Generally produced from corn starch and may be called corn sugar.">
                        <strong>Dextrose:</strong></a></div>
                    <div class="col-md-2">{{ brew.priming_dextrose|floatformat:1 }}g</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><a href="#" tabindex="0" data-toggle="popover" data-trigger="focus" title="Dry Malt Extract"
                           data-content="A form of malt extract that has been reduced from its original, post-mash liquid into a light powder,
                           with a consistency similar to powdered sugar.">
                        <strong>Dry Malt Extract:</strong></a></div>
                    <div class="col-md-2">{{ brew.priming_dme|floatformat:1 }}g</div>
                </div>
            </div>
        </div>
        {% endif %}

        {% include "recipe/recipe_detail_content.html" with object=brew.recipe %}

    </div>
</div>