{% extends "base.html" %}
{% load bootstrap3 %}

{% block head_title %}Update Brew {{ brew.recipe }}{% endblock head_title %}
{% block head %}
    {{ form.media }}
{% endblock head %}

{% block page_title %}Update Brew {{ brew.recipe }}{% endblock page_title %}
{% block content %}
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% bootstrap_field form.brew_date %}
        {% bootstrap_field form.bottle_date %}
        {% bootstrap_field form.owner %}
        <input type="hidden" id="{{ form.recipe.id_for_label }}" value="{{ form.recipe.value }}" name="{{ form.recipe.html_name }}">
        <div class="btn-group">
            <a href="{{ brew.get_absolute_url }}" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit">
        </div>
    </form>
{% endblock %}