{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load sniplates %}

{% block head_title %}Brews{% endblock head_title %}

{% block head %}{{ filter.form.media }}{% endblock head %}

{% block page_title %}Brews{% endblock page_title %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
            {% widget "bootstrap:search_form" %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline">Brews</h3>
            {% if user_is_authenticated %}
            <div class="pull-right">
                <a href="{% url "brew-create" %}" class="btn btn-primary">Create</a>
            </div>
            <div class="clearfix"></div>
            {% endif %}
        </div>
        <div class="panel-body">
            {% render_table table %}
        </div>
    </div>



{% endblock %}