{% extends "base.html" %}
{% load active_page %}
{% load permissionsx_tags %}
{% block extra_js %}
<script>
    $(function () {
                $("[data-toggle='popover']").popover().click(function (e) {
                    e.preventDefault();
                });

                // Javascript to enable link to tab
                var hash = document.location.hash;
                var prefix = "tab_";

                if (hash) {
                    hash = hash.replace(prefix,'');
                    var hashPieces = hash.split('?');
                    var activeTab = $('.nav-pills a[href=' + hashPieces[0] + ']');
                    activeTab && activeTab.tab('show');
                }

                // Change hash for page-reload
                $('.nav-pills a').on('shown.bs.tab', function (e) {
                    window.location.hash = e.target.hash.replace("#", "#" + prefix);
                });
            }
    );
</script>
{% endblock %}

{% block head_title %}Brew {{ brew.recipe.name }}{% endblock head_title %}

{% block page_title %}
    Brew: <a href="{{ brew.recipe.get_absolute_url }}" id="name">{{ brew.recipe.name }}</a>
    <div class="pull-right">
        <span class="label label-primary" style="background-color: {{ brew.recipe.html_colour }}" id="style">{{ brew.recipe.style }}</span>
    </div>
{% endblock page_title %}

{% block content %}
    {% permissions 'brews.permissions.BrewOwnerPermissions' slug=brew.slug as user_owns_brew %}

    <div class="tab-holder">
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
        <li role="presentation"><a href="#gravity_readings" role="tab" data-toggle="tab">Gravity Readings</a></li>
        <li role="presentation"><a href="#temp_readings" role="tab" data-toggle="tab">Temperature Readings</a></li>
        <li role="presentation"><a href="#notes" role="tab" data-toggle="tab">Notes</a></li>
    </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">{% include "brew/brew_detail_overview.html" %}</div>
        <div role="tabpanel" class="tab-pane" id="gravity_readings">{% include "brew/brew_detail_gravity.html" %}</div>
        <div role="tabpanel" class="tab-pane" id="temp_readings">{% include "brew/brew_detail_temperature.html" %}</div>
        <div role="tabpanel" class="tab-pane" id="notes">{% include "brew/brew_detail_notes.html" %}</div>
    </div>

{% endblock %}