{% extends "base.html" %}
{% block page_title %}Brews in {{ month|date:"F" }} <a href="{% url "brew-archive-year" month.year %}">{{ month|date:"Y" }}</a>{% endblock page_title %}
{% block head_title %}Brews in {{ month|date:"F Y" }}{% endblock head_title %}
{% block content %}
    <div class="panel panel-default">

        <div class="panel-body">
            <ul class="nav nav-pills nav-justified">
                {% if previous_month %}
                    <li role="presentation"><a href="{% url "brew-archive-month" previous_month.year previous_month.month %}"><i class="glyphicon glyphicon-arrow-left"></i> {{ previous_month|date:"F Y" }}</a></li>
                {% endif %}
                {% if next_month %}
                    <li role="presentation"><a href="{% url "brew-archive-month" next_month.year next_month.month %}">{{ next_month|date:"F Y" }} <i class="glyphicon glyphicon-arrow-right"></i></a></li>
                {% endif %}
            </p>
        </ul>

        <table id="calendar_month" class="table table-bordered">
            <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th class="weekend">Saturday</th>
                <th class="weekend">Sunday</th>
            </tr>
            </thead>
            <tbody>
            {% for week in calendar %}
                <tr>
                    {% for day in week %}
                        {% if day.0.month != month.month %}
                            <td class="outside_month">
                                <div class="calendar_day">{{ day.0|date:"j N" }}</div>
                            </td>
                        {% else %}
                            <td>
                                <div class="calendar_day">{{ day.0|date:"j" }}</div>
                                <div>
                                <ul>
                                    {% for b in day.1 %}
                                        <li><a href="{{ b.get_absolute_url }}">{{ b.recipe.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}