{% load l10n %}
{% load tz %}

<div class="row">
    <div class="col-lg-2">
        <div class="bs-sidebar" data-spy="affix" data-offset-top="60">
            <ul class="nav nav-pills nav-stacked">
                <li class="bg-default"><a href="{% url "brew-list" %}" id="back"><span
                        class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
                {% if user_owns_brew %}
                    <li><a href="{% url "brew-detail-temp-add" slug=brew.slug %}" class="bg-primary"><span
                            class="glyphicon glyphicon-plus"></span> Add Reading</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline">Temperature Readings</h3>
            </div>
            <div class="panel-body">
                {% if brew.temperaturereading_set.count > 0 %}
                    <table class="table table-condensed table-hover">

                        <caption><h4>Temperatures</h4></caption>
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Temperature</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reading in brew.temperaturereading_set.all %}
                            <tr>
                                <td>{{ reading.time|localtime|localize }}</td>
                                <td>{{ reading.value|floatformat:1 }}°C</td>
                                <td class="shrink"><a href="{{ reading.get_update_url }}" class="btn btn-primary" title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td class="shrink"><a href="{{ reading.get_delete_url }}" class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-remove"></span></a></
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no temperature readings. Why not add some?</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>