{% load is_stocked from stock %}
<table class="table table-condensed table-hover">
    <caption><h4>Grain Bill</h4></caption>
    <thead>
    <tr>
        <th>Grain</th>
        <th>Quantity</th>
        {% if not object.extractrecipe.allgrainrecipe and object.extractrecipe %}
            <th>Steep?</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for g in object.get_recipegrain_ordered %}
        <tr>
            <td id="{{ forloop.counter }}_grain">{% if user_is_authenticated %}{% is_stocked request g.fermentable %}{% endif %} <a href="{{ g.fermentable.get_absolute_url }}" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ g.fermentable.name }}"
                   data-content="{{ g.fermentable.description }}">{{ g.fermentable.name }}</a></td>
            <td id="{{ forloop.counter }}_grain_quantity">{{ g.quantity }} {{ g.unit }}</td>
            {% if not object.extractrecipe.allgrainrecipe and object.extractrecipe %}
                <td id="{{ forloop.counter }}_grain_steep">
                    {% if g.steeped %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                </td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>