{% load is_stocked from stock %}
<table class="table table-condensed table-hover">
    <caption><h4>Hop Schedule</h4></caption>
    <thead>
    <tr>
        <th>Hop</th>
        <th>Quantity</th>
        <th>IBU</th>
        <th>When To Add</th>
    </tr>
    </thead>
    <tbody>
    {% for h in object.extractrecipe.get_recipehop_ordered %}
        <tr>
            <td id="{{ forloop.counter }}_hop">{% if user_is_authenticated %}{% is_stocked request h.hop %}{% endif %} <a href="{{ h.hop.get_absolute_url }}" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ h.hop }}"
                   data-content="{{ h.hop.description }}">{{ h.hop }} {{ h.alpha_acid_rating }}%</a></td>
            <td id="{{ forloop.counter }}_hop_quantity">{{ h.quantity }} g</td>
            <td id="{{ forloop.counter }}_hop_ibu">{{ h.ibu }}</td>
            <td id="{{ forloop.counter }}_hop_wta">{{ h.display_when_to_add }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>