{% load is_stocked from stock %}
<table class="table table-condensed table-hover">
    <caption><h4>Other Additions</h4></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>When To Add</th>
    </tr>
    </thead>
    <tbody>
    {% for o in object.get_recipeother_ordered %}
        <tr>
            <td id="{{ forloop.counter }}_other">{% if user_is_authenticated %}{% is_stocked request o.other %}{% endif %} <a href="{{ o.other.get_absolute_url }}" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ o.other }}"
                   data-content="{{ o.other.description }}">{{ o.other }}</a></td>
            <td id="{{ forloop.counter }}_other_quantity">{{ o.quantity }} {{ o.unit }}</td>
            <td id="{{ forloop.counter }}_other_wta">{{ o.when_to_add }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>